## For loop

In [3]:
friut=["Apple", "Banana", "Cherry"]
for x in friut:
    print(x)

Apple
Banana
Cherry

In [4]:
for x in "Banana":
    print(x)

B
a
n
a
n
a

#### The break statement

In [5]:
friut=["Apple", "Banana", "Cherry"]
for x in friut:
    if x == "Banana":
        break
    print(x)

Apple

In [6]:
friut=["Apple", "Banana", "Cherry"]
for x in friut:
    if x == "Cherry":
        break
    print(x)

Apple
Banana

#### The continue Statement

In [7]:
friut=["Apple", "Banana", "Cherry"]
for x in friut:
    if x=="Banana":
        continue
    print(x)

Apple
Cherry

#### the range statement

In [8]:
for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [9]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [11]:
for i in range(2,20,2):
    print(i)

2
4
6
8
10
12
14
16
18

In [13]:
for i in range(1,20):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18

In [14]:
for i in range(1,20):
    if i%2==1:
        print(i)

1
3
5
7
9
11
13
15
17
19

### For Loop with list

In [23]:
even=[]
odd=[]


for i in range(1,20):
    if i%2==0:
        even.append(i)

for i in range(1,20):
    if i%2==1:
        odd.append(i)

print(even)
print(odd)

[2, 4, 6, 8, 10, 12, 14, 16, 18]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### Ilterating Over A list Using For Loop

In [ ]:
list2=["Ahad","Fasih","Farhan","Asad","Faizan"]
for name in list2:
    print(f"Thank you Mr.{name}")

Thank you Mr.Ahad
Thank you Mr.Fasih
Thank you Mr.Farhan
Thank you Mr.Asad
Thank you Mr.Faizan

In [5]:
list2=["Ahad","Fasih","Farhan","Asad","Faizan"]
for name in list2:
    if name=="Fasih":
        print(f"You are seleted Mr.{name}")

You are seleted Mr.Fasih

In [9]:
list2=["Ahad","Fasih","Farhan","Asad","Faizan"]
for name in list2:
    if name=="Fasih":
        print(f"You are seleted Mr.{name}")
    else:
        print(f"Mr.{name} is not seleted ")

Mr.Ahad is not seleted
You are seleted Mr.Fasih
Mr.Farhan is not seleted
Mr.Asad is not seleted
Mr.Faizan is not seleted

In [20]:
guestlist=[]

for i in range(10):
    guestname=input("Tell me your guest name: ")
    if guestname=='asad':
        continue
    else:
        guestlist.append(guestname)

print(guestlist)

['Fasih', 'Farhan', 'Asad', 'Faizan', '', '12', '12', '34', '35', '65']