## List

In [46]:
# syntax:

# List_name=[element1,element2,..........element n]

In [47]:
students=["asad","fawad","mehmmod","aleem","abdul rehman","ishaq","ameen","umer","ali"]
#+ve index  0       1         2        3         4           5       6       7      8
#-ve index -9      -8        -7       -6        -5          -4      -3      -2     -1


print(students)
students

['asad', 'fawad', 'mehmmod', 'aleem', 'abdul rehman', 'ishaq', 'ameen', 'umer', 'ali']

['asad',
 'fawad',
 'mehmmod',
 'aleem',
 'abdul rehman',
 'ishaq',
 'ameen',
 'umer',
 'ali']

In [48]:
type(students)

list

In [49]:
students[0]

'asad'

In [50]:
students[6]

'ameen'

In [51]:
students[-3]

'ameen'

In [52]:
students[3],students[6],students[8],students[7]

('aleem', 'ameen', 'ali', 'umer')

In [53]:
print(students)

students[2]="Hassan"

print(students)

['asad', 'fawad', 'mehmmod', 'aleem', 'abdul rehman', 'ishaq', 'ameen', 'umer', 'ali']
['asad', 'fawad', 'Hassan', 'aleem', 'abdul rehman', 'ishaq', 'ameen', 'umer', 'ali']

In [54]:
del students[3]   # aleem will be delete

print(students)

['asad', 'fawad', 'Hassan', 'abdul rehman', 'ishaq', 'ameen', 'umer', 'ali']

In [55]:
course=[students,"math","english","physics","computer"]    # list in list 
#+ve index  0       1         2        3         4          
#-ve index -9      -8        -7       -6        -5      

print(course)

[['asad', 'fawad', 'Hassan', 'abdul rehman', 'ishaq', 'ameen', 'umer', 'ali'], 'math', 'english', 'physics', 'computer']

In [62]:
# adding a new list at the end
course.append("chemistry")

print(course)

[['asad', 'fawad', 'Hassan', 'abdul rehman', 'ishaq', 'ameen', 'umer', 'ali'], 'math', 'english', 'urdu', 'physics', 'computer', 'A4', 'B7', 'A4', 'B7', 'chemistry']

In [57]:
# adding a new list with specific location

course.insert(3,"urdu")

print(course)

[['asad', 'fawad', 'Hassan', 'abdul rehman', 'ishaq', 'ameen', 'umer', 'ali'], 'math', 'english', 'urdu', 'physics', 'computer', 'chemistry']

In [58]:
course.remove("chemistry")
print(course)

[['asad', 'fawad', 'Hassan', 'abdul rehman', 'ishaq', 'ameen', 'umer', 'ali'], 'math', 'english', 'urdu', 'physics', 'computer']

In [61]:
# use to extand list by adding new values

course.extend(["A4","B7"])

print(course)

[['asad', 'fawad', 'Hassan', 'abdul rehman', 'ishaq', 'ameen', 'umer', 'ali'], 'math', 'english', 'urdu', 'physics', 'computer', 'A4', 'B7', 'A4', 'B7']

In [63]:
Number=[1,2,3,4,5,6,7,8,9,10]

In [65]:
print(Number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [67]:
Number[5]

6

In [78]:
Number[1:7:3]

[2, 5]

In [80]:
Number[1:9:2]

[2, 4, 6, 8]

In [83]:
Number[-7:-2]

[4, 5, 6, 7, 8]

In [84]:
thelist=["Apple","Banana","cherry","Mango","Oramge","Melon","Kiwi"]
print(thelist)

['Apple', 'Banana', 'cherry', 'Mango', 'Oramge', 'Melon', 'Kiwi']

In [85]:
print(thelist[2:])

['cherry', 'Mango', 'Oramge', 'Melon', 'Kiwi']

In [86]:
print(thelist[3:9:2])

['Mango', 'Melon']

In [88]:
print(thelist[-4:-1])

['Mango', 'Oramge', 'Melon']

In [89]:
print(thelist)

['Apple', 'Banana', 'cherry', 'Mango', 'Oramge', 'Melon', 'Kiwi']

In [91]:
thelist=["Apple","Banana","cherry","Mango","Oramge","Melon","Kiwi"]
if 'Kiwi' in thelist:  # Membership operator(in)
    print("Yes, 'Kiwi is in the list")

Yes, 'Kiwi is in the list

In [97]:
thelist=["Apple","Banana","cherry","Mango","Orange","Melon","Kiwi"]
if "PineApple" in thelist:
    print("Yes, 'PineApple' is in the list ")
else:
    print("No, 'PineApple' is not in the list ")

No, 'PineApple' is not in the list

In [5]:
thelist=["Apple","Banana","cherry","Mango","Orange","Melon","Kiwi"]

thelist[1:2] = ["blackcurrant","watermelon"]
print(thelist)

['Apple', 'blackcurrant', 'watermelon', 'cherry', 'Mango', 'Orange', 'Melon', 'Kiwi']

In [6]:
thelist=["Apple","Banana","cherry","Mango","Orange","Melon","Kiwi"]

thelist[1] = ["blackcurrant","watermelon"]
print(thelist)

['Apple', ['blackcurrant', 'watermelon'], 'cherry', 'Mango', 'Orange', 'Melon', 'Kiwi']

In [7]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [8]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()  # removing the last item by defult
print(thislist)

['apple', 'banana']

In [9]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)  # removing the last item by given number
print(thislist)

['apple', 'cherry']

In [10]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]