### Variable And Datatypes

#### 1. Variable

In [ ]:
# Variable
name="Abdul Faiq"

print(name)

Abdul Faiq

In [6]:
age="111"
class_="10"
field="Computer Science"

print(f"""     About Myself
Name:{name}
age:{age}
Class:{class_}
Field:{field}""")

     About Myself
Name:Abdul Faiq
age:111
Class:10
Field:Computer Science

In [7]:
x=5
y=6

z=(x+y)

print(x+y)
print(z)

11
11

In [11]:
# legal Variable

myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

In [10]:
# illegal Variable

2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid syntax (3114557519.py, line 3)

#### 2. Datatype

In [12]:
name="Ahad"
age=23

print(type(name))
print(type(age))

<class 'str'>
<class 'int'>

In [19]:
age="5"

print(type(age))

<class 'str'>

In [ ]:
y=7+7

x="7"+"7" # String Concatination
print(y)
print(x)

14
28

In [ ]:
x=input("Enter Any Thing: ")
print(x)
print(type(x))

Faiq
<class 'str'>

In [22]:
y=int(input("Enter Any Number: "))
print(y)
print(type(y))

657
<class 'int'>

In [ ]:
gt=input("Enter 1st Value: ")
dt=input("Enter 2nd Value: ")

print(gt+dt)

231

In [26]:
at=int(input("Enter 1st Value: "))
bt=int(input("Enter 2nd Value: "))

print(at+bt)

35

In [2]:
a=3.5
b=int(a)

print(b)

3

In [6]:
x="python"
y="is"
z="awesome"

print(x,y,z)

x="python " # space 
y="is "
z="awesome"

print(x+y+z)

python is awesome
python is awesome